body {
  height: 100%;
  font-family: "futura";
  margin: 0 0;
}

a {
  color: inherit;
}

header {
  background-color: #000000;
}
header h1 {
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
}

.petelist {
  width: 50%;
  float: left;
}
.petelist li {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}
.petelist li h3 {
  margin: 0px;
}
.petelist li img {
  position: relative;
  max-width: 300px;
  width: 50%;
  float: right;
  padding: 0px;
}
.petelist li .byline {
  font-style: italic;
}
.petelist li .copy {
  width: 45%;
  float: left;
}

.johnlist {
  width: 50%;
  float: right;
}
.johnlist li {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}
.johnlist li h3 {
  margin: 0px;
}
.johnlist li img {
  position: relative;
  max-width: 300px;
  width: 50%;
  float: left;
  padding: 0px;
}
.johnlist li .byline {
  font-style: italic;
}
.johnlist li .copy {
  width: 45%;
  float: right;
}

footer {
  clear: both;
  height: 40px;
  width: 100%;
  background-color: #000000;
  position: relative;
  padding: 0px 0px 0px 40px;
}
footer h4 {
  color: #ffffff;
}
