header {
  background-color: #000000;
}
header h1 {
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
}

.petelist {
  width: 50%;
}
.petelist li {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}
.petelist li img {
  position: relative;
  top: -160px;
  height: 100%;
  max-width: 300px;
  width: 50%;
  float: right;
  padding: 10px;
}
.petelist li p {
  width: 45%;
}
.petelist li h3 {
  width: 45%;
}
