header {
  background-color: #000000;
}
header h1 {
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
}

.petelist {
  width: 49%;
  float: left;
}
.petelist li {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}
.petelist li img {
  position: relative;
  height: 100%;
  max-width: 300px;
  width: 50%;
  float: right;
  padding: 10px;
}
.petelist li .copy {
  width: 45%;
  float: left;
}

.johnlist {
  width: 49%;
  float: right;
}
.johnlist li {
  display: inline-block;
  padding: 20px;
  max-height: 300px;
}
.johnlist li img {
  position: relative;
  height: 100%;
  max-width: 300px;
  width: 50%;
  float: left;
  padding: 10px;
}
.johnlist li .copy {
  width: 45%;
  float: right;
}
