body {
  height: 100%;
  font-family: "futura";
  margin: 0 0;
  padding: 0 0;
}

a {
  color: inherit;
}

// header
header {
  background-color: #000000;
  h1 {
    color: #ffffff;
    text-align: center;
  }
}


// lists
.petelist {
  width: 50%;
  float: left;
  li {
    display: inline-block;
    padding: 20px;
    h3 {
      margin: 0px;
    }
    img {
      position: relative;
      max-height: 300px;
      max-width: 300px;
      width: 50%;
      float: right;
      padding: 0px;
    }
    .byline {
      font-style: italic;
    }
    .copy {
      width: 50%;
      float: left;
    }
  }
}

.johnlist {
  width: 50%;
  float: right;
  li {
    display: inline-block;
    padding: 20px;
    h3 {
      margin: 0px;
    }
    img {
      overflow: auto;
      position: relative;
      max-height: 300px;
      max-width: 300px;
      width: 50%;
      float: left;
      padding: 0px;
    }
    .byline {
      font-style: italic;
    }
    .copy {
      width: 45%;
      float: right;
    }
  }
}

// footer
footer {
  clear: both;
  height: 40px;
  width: 100%;
  background-color: #000000;
  position: relative;
  padding: 0px 0px 0px 0px;
  h4 {
    text-align: center;
    color: #ffffff;
  }
}


