// header
header {
  background-color: #000000;
  h1 {
    color: #ffffff;
    text-align: left;
    padding-left: 40px;
  }
}


.petelist {
  width: 45%;
  li {
    display: inline-block;
    padding: 20px;
    max-height: 300px;
    img {
      position: relative;
      top: -160px;
      height: 100%;
      max-width: 300px;
      width: 50%;
      float: right;
      padding: 10px;
    }
    p {
      width: 45%;
    }
    h3 {
      width: 45%;
    }
  }
}

.johnlist {

}


